# write csv file

In [26]:
import pandas as pd
dic={"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
d=pd.DataFrame(dic)
print(d)
# d.to_csv("Test_new.csv",index=False)
d.columns=["a","s","d"]
d.to_csv("Test_new1.csv",index=False)
# d.columns=[1,2,3]
# d.to_csv("Test_new2.csv",index=False)

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [20]:
# d.to_csv("C:/Users/Singh/Test_new.csv")
# d.to_csv("C:/Users/Singh/Test_new1.csv")
d.to_csv("C:/Users/Singh/Test_new2.csv")

In [27]:
# print("\nContents of Test_new2.csv:")
# print(pd.read_csv("Test_new2.csv"))
print("\nContents of Test_new1.csv:")
print(pd.read_csv("Test_new1.csv"))

Contents of Test_new1.csv:
   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [12]:
import os
print("currect working directory:",os.getcwd())
print("files in directory:",os.listdir(os.getcwd()))

currect working directory: C:\Users\singh
files in directory: ['.android', '.bash_history', '.bash_profile', '.cache', '.config', '.eclipse', '.emulator_console_auth_token', '.gitconfig', '.gradle', '.ipynb_checkpoints', '.ipython', '.jupyter', '.lesshst', '.node_repl_history', '.p2', '.popsql.json', '.quokka', '.redhat', '.Secrets', '.th-client', '.VirtualBox', '.vscode', '.wallaby', 'AppData', 'Application Data', 'arithmetic op and insert and delete data.ipynb', 'Arithmrtic operations on arrays.ipynb', 'Contacts', 'Cookies', 'copy and join array.ipynb', 'Data types and changing them.ipynb', 'Documents', 'Downloads', 'eclipse', 'eclipse-workspace', 'Favorites', 'Indexing and slicing.ipynb', 'iteration in arrays.ipynb', 'Links', 'Local Settings', 'Matrix and its functions.ipynb', 'Music', 'My Documents', 'my-app', 'NetHood', 'new.html', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf', 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'numpy_basics.ipynb', 'OneDrive', 'package-lock.json', 'pakhi', 'pandas-aritmetic operations.ipynb', 'pandas-dataframes.ipynb', 'Pandas-inserting and deleting data.ipynb', 'Pandas-Series.ipynb', 'PrintHood', 'Recent', 'Saved Games', 'Search and Sort.ipynb', 'Searches', 'SendTo', 'shape of arrays.ipynb', 'Shape,reshape and broadcasting.ipynb', 'Start Menu', 'StudioProjects', 'Templates', 'Test_new.csv', 'Untitled Folder', 'Untitled Folder 1', 'Untitled Folder 2', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled12.ipynb', 'Untitled13.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'Videos', '_netrc']

# read csv file

In [28]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv")
csv_1

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [50]:
csv_2=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",nrows=1)
csv_2
print(type(csv_2))

<class 'pandas.core.frame.DataFrame'>

In [34]:
csv_3=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",usecols=["s","a"])
# usecols[0,3]
csv_3

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

In [36]:
csv_4=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",skiprows=[0,3])
csv_4

   1  1.1  1.2
0  2    2    2
1  4    4    4
2  5    5    5
3  6    6    6

In [37]:
csv_5=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",index_col="a")
csv_5

   s  d
a
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6

In [38]:
csv_6=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",header=2)
csv_6

   2  2.1  2.2
0  3    3    3
1  4    4    4
2  5    5    5
3  6    6    6

In [40]:
csv_7=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",names=["col","col2","col3"])
csv_7

  col col2 col3
0   a    s    d
1   1    1    1
2   2    2    2
3   3    3    3
4   4    4    4
5   5    5    5
6   6    6    6

In [43]:
csv_8=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv",header=None,prefix="col",dtype={"a":"float"})
csv_8

TypeError: read_csv() got an unexpected keyword argument 'prefix'

# Pandas functions

In [95]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\Singh\\Test_new1.csv")
csv_1

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [101]:
csv_1.index
csv_1.columns

Index(['a', 's', 'd'], dtype='object')

In [56]:
csv_1.describe()

              a         s         d
count  6.000000  6.000000  6.000000
mean   3.500000  3.500000  3.500000
std    1.870829  1.870829  1.870829
min    1.000000  1.000000  1.000000
25%    2.250000  2.250000  2.250000
50%    3.500000  3.500000  3.500000
75%    4.750000  4.750000  4.750000
max    6.000000  6.000000  6.000000

In [59]:
csv_1.head(3)

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3

In [63]:
csv_1.tail()

   a  s  d
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [68]:
csv_1[:2]
csv_1[1:3]

   a  s  d
1  2  2  2
2  3  3  3

In [69]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [70]:
csv_1.index.array

<PandasArray>
[0, 1, 2, 3, 4, 5]
Length: 6, dtype: int64

In [73]:
# csv_1.to_numpy()
# or
import numpy as np
v=np.asarray(csv_1)
v

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3],
       [4, 4, 4],
       [5, 5, 5],
       [6, 6, 6]], dtype=int64)

In [78]:
csv_1.sort_index(axis=0,ascending=False)

   a  s  d
5  6  6  6
4  5  5  5
3  4  4  4
2  3  3  3
1  2  2  2
0  1  1  1

In [82]:
# csv_1["a"][0]="python"
# csv_1
# csv_1["s"][1]="C"
# csv_1

        a  s  d
0  python  1  1
1       2  C  2
2       3  3  3
3       4  4  4
4       5  5  5
5       6  6  6

In [83]:
# csv_1.loc[1,"a"]="Python"
# csv_1

        a  s  d
0  python  1  1
1  Python  C  2
2       3  3  3
3       4  4  4
4       5  5  5
5       6  6  6

In [86]:
res=csv_1.loc[[2,3],["a","s"]]
print(res)

   a  s
2  3  3
3  4  4

In [87]:
res=csv_1.loc[:,["a","s"]]
print(res)

        a  s
0  python  1
1  Python  C
2       3  3
3       4  4
4       5  5
5       6  6

In [88]:
res=csv_1.loc[[2,3],:]
print(res)

   a  s  d
2  3  3  3
3  4  4  4

In [92]:
csv_1.iloc[0,1]
csv_1.iloc[1,2]

2

In [99]:
# to drop column
csv_1.drop("s",axis=1)
#  to drop row
csv_1.drop(0,axis=0)

   a  s  d
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6