# aritmetic operations

In [2]:
import pandas as pd
x={"A":[1,2,3,4],"B":[5,6,7,8]}
var=pd.DataFrame(x)
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [7]:
# logical operations
x={"A":[10,20,30,40],"B":[15,16,17,18]}
var=pd.DataFrame(x)
var["Python"]=var["A"]<=20
var
var["C"]=var["B"]>=17
var

    A   B  Python      C
0  10  15    True  False
1  20  16    True  False
2  30  17   False   True
3  40  18   False   True

In [3]:
x={"A":[1,2,3,4],"B":[5,6,7,8]}
var=pd.DataFrame(x)
print(var)
var["C"]=var["A"]+var["B"]
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [4]:
var["C"]=var["A"]-var["B"]
print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [5]:
var["C"]=var["A"]*var["B"]
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32