# inserting and deleting data in pandas

# insert

In [1]:
import pandas as pd
x={"A":[1,2,3,4,5],"B":[9,8,7,6,5]}
var=pd.DataFrame(x)
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [33]:
var.insert(1,"C",var["A"])
print(var)

ValueError: cannot insert C, already exists

In [38]:
#          position,col_name,values to be inserted
var.insert(1,"python",[10,20,30,40,50])
print(var)

   A  python  F  C   D  B
0  1      10  1  1  10  9
1  2      20  2  2  20  8
2  3      30  3  3  30  7
3  4      40  4  4  40  6
4  5      50  5  5  50  5

In [1]:
var["Python"]=var["A"][0:3]
var

NameError: name 'var' is not defined

# delete

In [6]:
import pandas as pd
y={"A":[1,2,3,4,5],"B":[9,8,7,6,5],"C":[10,12,14,16,18]}
var1=pd.DataFrame(y)
var1
var2=var1.pop("B")
var2
var1

   A   C
0  1  10
1  2  12
2  3  14
3  4  16
4  5  18

In [48]:
del var1["A"]

var1

    C
0  10
1  12
2  14
3  16
4  18