# pandas-series

In [9]:
import pandas as pd
x=[3,4,5,6]
#  0,1,2,3
var=pd.Series(x)
print(var)
var1=pd.Series(x,index=['a','s','d','f'])
print(var1)
var2=pd.Series(x,index=['a','s','d','f'],dtype="f",name="python")
print(var2)
print(type(var))
print(var[2])

0    3
1    4
2    5
3    6
dtype: int64
a    3
s    4
d    5
f    6
dtype: int64
a    3.0
s    4.0
d    5.0
f    6.0
Name: python, dtype: float32
<class 'pandas.core.series.Series'>
5

In [11]:
dic={"name":['python','c','c++','java'],"pop":[13,14,15,16],"rank":[1,2,4,3]}
var1=pd.Series(dic)
print(var1)
dic1={"maths":98,"phy":95,"chem":96}
var2=pd.Series(dic1)
print(var2)

name    [python, c, c++, java]
pop           [13, 14, 15, 16]
rank              [1, 2, 4, 3]
dtype: object
maths    98
phy      95
chem     96
dtype: int64

In [12]:
s=pd.Series(27,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    27
2    27
3    27
4    27
5    27
6    27
7    27
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
s1=pd.Series(27,index=[1,2,3,4,5,6,7])
s2=pd.Series(17,index=[1,2,3,4,5])

print(s1+s2)

1    44.0
2    44.0
3    44.0
4    44.0
5    44.0
6     NaN
7     NaN
dtype: float64